<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arquitectura Web</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

    <body ng-app="myModule">

        <div  ng-controller="myController"  ng-init="qty=1;cost=2">

            <h1>{{title}}</h1>

            <button ng-click="onClick()">actualizar</button>

            <b>Invoice:</b>
            <div>
                Quantity: <input type="number" min="0" ng-model="qty">
            </div>
            <div>
                Costs: <input type="number" min="0" ng-model="cost">
            </div>
            <div>
                <b>Total:</b> {{qty*cost}}
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script type="application/javascript" src="/static/js/app.js"></script>

    </body>

</html>